n8n-exports/n8n-exports/workflow-agent-principal.json
{
  "name": "NeoTravel Final — Lead → Qualification → Devis → CRM → Relance",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neotravel-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [14992, 5504],
      "id": "9fc8a5a9-d18c-496e-8992-d3f76e75ebd1",
      "name": "Webhook NeoTravel Lead",
      "webhookId": "neotravel-lead"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.body.message }}",
        "options": {
          "systemMessage": "RÈGLE CRITIQUE SUR LE FORMAT :\nTu ne retournes QU'UN SEUL objet JSON à la racine.\nJamais de JSON dans un champ message.\nJamais de texte en dehors du JSON.\nJamais de backticks markdown autour du JSON.\nSi tu dois escalader ET informer le prospect, mets le message au prospect dans le champ \"resume\" et retourne directement le JSON cas_complexe.\n\nAvant de poser une question, vérifie l'historique de la conversation. Ne redemande jamais une info déjà donnée par le prospect.\n\nTu es l'assistant commercial de NeoTravel, spécialiste du transport de groupe en autocar en France.\n\nTON OBJECTIF : collecter toutes les informations nécessaires pour établir un devis, en posant les questions naturellement, une par une. Tu ne passes à la question suivante que quand tu as une réponse claire.\n\nINFORMATIONS À COLLECTER (dans cet ordre) :\n1. nom et société du prospect + email + téléphone\n2. ville de départ et ville d'arrivée\n3. date de départ (et date de retour si aller/retour)\n4. nombre de passagers\n5. aller simple ou aller/retour\n6. distance en km — si le prospect ne la connaît pas, estime-la toi-même depuis les villes (ex: Lyon → Annecy ≈ 140km) et confirme-la au prospect\n\nCALCUL DU CODE URGENCE (automatique, ne pas demander au prospect) :\n- moins de 48h entre date_demande et date_depart → DD_PRIORITAIRE\n- entre 2 et 7 jours → DD_URGENT\n- entre 8 jours et 3 mois → DD_NORMAL\n- plus de 3 mois → DD_3MOISETPLUS\n\nRÈGLES ABSOLUES :\n- Tu poses UNE seule question à la fois\n- Tu reformules ce que tu as compris avant de passer à la suite\n- Tu ne calcules JAMAIS le prix toi-même\n- Tu réponds TOUJOURS en JSON valide brut, sans backticks, sans texte autour\n- La date_demande = aujourd'hui\n- Ne jamais inventer des données que le prospect n'a pas données\n\nFORMAT DE RÉPONSE JSON :\n\nSi informations manquantes :\n{\"statut\": \"incomplet\", \"champs_manquants\": [\"liste\"], \"message\": \"ta question naturelle au prospect\"}\n\nSi toutes les infos sont collectées :\n{\"statut\": \"complet\", \"donnees\": {\"nom_societe\": \"...\", \"email\": \"...\", \"telephone\": \"...\", \"ville_depart\": \"...\", \"ville_arrivee\": \"...\", \"date_depart\": \"YYYY-MM-DD\", \"date_demande\": \"YYYY-MM-DD\", \"nb_passagers\": 0, \"distance_km\": 0, \"aller_retour\": false, \"urgence\": \"DD_NORMAL\"}}\n\nSi cas complexe (automatisation impossible) :\n{\"statut\": \"cas_complexe\", \"raison\": \"explication courte\", \"resume\": \"résumé pour le commercial — Un conseiller NeoTravel vous recontacte sous 24h.\", \"donnees\": {\"nom_societe\": \"...\", \"email\": \"...\", \"telephone\": \"...\"}}\n\nSi prospect bloqué ou abandon :\n{\"statut\": \"cas_incomplet_escalade\", \"raison\": \"le prospect ne peut pas fournir les informations\", \"resume\": \"ce qui a été collecté jusqu'ici\", \"donnees\": {\"nom_societe\": \"...\", \"email\": \"...\", \"telephone\": \"...\"}}\n\nCAS D'ESCALADE OBLIGATOIRE (→ cas_complexe) :\n- Trajet international (hors France)\n- Demande de remise ou négociation de prix\n- Données contradictoires après 2 tentatives de clarification\n- Plus de 85 passagers\n\nIMPORTANT : avant d'escalader, tu dois TOUJOURS avoir collecté au minimum le nom/société et l'email du prospect.\nSi tu détectes un cas complexe mais que tu n'as pas encore ces infos, pose d'abord la question :\n\"Pour que notre conseiller puisse vous recontacter, pourriez-vous me donner votre nom, société et email ?\"\nSeulement ensuite tu retournes le JSON cas_complexe.\n\nCAS D'ESCALADE ABANDON (→ cas_incomplet_escalade) :\n- Le prospect dit \"je sais pas\", \"à voir\", \"pas sûr\" sur une info critique après 2 relances\n- Le prospect demande à parler à un humain\n\nERREURS À NE JAMAIS FAIRE :\n- Ne jamais mettre de JSON dans un champ message\n- Ne jamais entourer le JSON de backticks\n- Ne jamais considérer un trajet France métropolitaine comme international\n- Ne jamais escalader pour moins de 85 passagers si le trajet est standard\n- Ne jamais calculer un prix en dehors de l'outil calculer_devis()"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [15232, 5424],
      "id": "88cab128-56d5-4be6-a478-2a8803bc8e0a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [15328, 5888],
      "id": "68c6cf42-ea36-4dc0-9e77-c146061ff563",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-complet",
                    "leftValue": "={{ $json.statut }}",
                    "rightValue": "complet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "complet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-incomplet",
                    "leftValue": "={{ $json.statut }}",
                    "rightValue": "incomplet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incomplet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-cas-complexe",
                    "leftValue": "={{ $json.statut }}",
                    "rightValue": "cas_complexe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cas_complexe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "rule-incomplet-escalade",
                    "leftValue": "={{ $json.statut }}",
                    "rightValue": "cas_incomplet_escalade",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cas_incomplet_escalade"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [15584, 5600],
      "id": "041f13d3-af8f-455d-a096-7e8927e1f2d5",
      "name": "Router Statut"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const GRILLE_KM = {10:250,20:250,30:250,40:320,50:350,60:390,70:430,80:500,90:540,100:580,110:620,120:660,130:700,140:740,150:780,160:820,170:860,180:900};\nconst COEFF_SAISONNALITE = {1:-0.07,2:-0.07,3:+0.10,4:+0.10,5:+0.15,6:+0.15,7:+0.10,8:-0.07,9:0.00,10:0.00,11:-0.07,12:0.00};\nconst COEFF_URGENCE = {DD_PRIORITAIRE:+0.10,DD_URGENT:+0.05,DD_NORMAL:-0.05,DD_3MOISETPLUS:-0.10};\nconst TRANCHES_CAPACITE = [[0,19,-0.05],[19,53,0.00],[53,63,+0.15],[63,67,+0.20],[67,85,+0.40]];\nconst MARGE=0.15,TVA=0.10,PRIX_KM_LONG=2.5;\n\nfunction arrondir_km(km){return Math.ceil(km/10)*10;}\nfunction prix_base_simple(d){if(d<=0)throw new Error('Distance doit être > 0');if(d>850)throw new Error('Distance irréaliste: '+d+' km');if(d<=180){const k=arrondir_km(d);const p=GRILLE_KM[k];if(!p)throw new Error('Pas de tarif pour '+k+' km');return{prix:p,source:'Grille forfait ('+k+' km)'};}const p=(d*2)*PRIX_KM_LONG;return{prix:p,source:'Hors grille ('+d+' km × 2 × '+PRIX_KM_LONG+' €/km)'};}  \nfunction get_coeff_saisonnalite(date){const d=new Date(date);if(isNaN(d))throw new Error('Date invalide: '+date);const m=d.getMonth()+1;return{coeff:COEFF_SAISONNALITE[m],label:'Mois '+m+' → '+(COEFF_SAISONNALITE[m]*100).toFixed(0)+'%'};}\nfunction get_coeff_urgence(u){const c=COEFF_URGENCE[u];if(c===undefined)throw new Error('Code urgence invalide: '+u);return{coeff:c,label:u+' → '+(c*100).toFixed(0)+'%'};}\nfunction get_coeff_capacite(n){if(n<=0)throw new Error('Passagers doit être > 0');if(n>85)throw new Error('Max 85 passagers');for(const[min,max,c]of TRANCHES_CAPACITE){if(n>min&&n<=max)return{coeff:c,label:n+' passagers ('+( min+1)+'–'+max+') → '+(c*100).toFixed(0)+'%'};}throw new Error('Aucune tranche pour '+n+' passagers');}\n\nconst donnees=$json.donnees;\nif(!donnees)throw new Error('Pas de données dans $json.donnees');\nconst{nb_passagers,date_depart,date_demande,distance_km,aller_retour,urgence,options={}}=donnees;\nif(!nb_passagers)throw new Error('Manquant: nb_passagers');\nif(!date_depart)throw new Error('Manquant: date_depart');\nif(!date_demande)throw new Error('Manquant: date_demande');\nif(!distance_km)throw new Error('Manquant: distance_km');\nif(!urgence)throw new Error('Manquant: urgence');\n\nconst lignes=[];\nconst{prix:base_simple,source}=prix_base_simple(distance_km);\nlignes.push({libelle:'Base transfert — '+source,montant:base_simple});\nlet base=base_simple;\nif(aller_retour){base=base_simple*2;lignes.push({libelle:'Aller/Retour (× 2)',montant:base});}\nconst mm=base*MARGE,am=base+mm;\nlignes.push({libelle:'Marge (+'+( MARGE*100).toFixed(0)+'%)',montant:mm});\nconst{coeff:cs,label:ls}=get_coeff_saisonnalite(date_depart);\nconst ms=am*cs,as2=am+ms;\nlignes.push({libelle:'Saisonnalité — '+ls,montant:ms});\nconst{coeff:cu,label:lu}=get_coeff_urgence(urgence);\nconst mu=as2*cu,au=as2+mu;\nlignes.push({libelle:'Urgence — '+lu,montant:mu});\nconst{coeff:cc,label:lc}=get_coeff_capacite(nb_passagers);\nconst mc=au*cc,ac=au+mc;\nlignes.push({libelle:'Capacité — '+lc,montant:mc});\nlet tot_opts=0;\nif(options.nb_guides>0){const m=options.nb_guides*80*(options.nb_jours||1);tot_opts+=m;lignes.push({libelle:options.nb_guides+' guide(s) × 80€',montant:m});}\nif(options.nb_nuits_chauffeur>0){const m=options.nb_nuits_chauffeur*120;tot_opts+=m;lignes.push({libelle:options.nb_nuits_chauffeur+' nuit(s) chauffeur × 120€',montant:m});}\nif(options.peages_inclus)lignes.push({libelle:'Péages inclus',montant:0});\nconst prix_ht=Math.round((ac+tot_opts)*100)/100;\nlignes.push({libelle:'─── SOUS-TOTAL HT',montant:prix_ht});\nconst tva=Math.round(prix_ht*TVA*100)/100;\nlignes.push({libelle:'TVA ('+( TVA*100).toFixed(0)+'%)',montant:tva});\nconst prix_ttc=Math.round((prix_ht+tva)*100)/100;\nreturn{prix_ht,tva,prix_ttc,devise:'EUR',lignes,coefficients:{marge:'+'+(MARGE*100).toFixed(0)+'%',saisonnalite:ls,urgence:lu,capacite:lc},meta:{distance_km,aller_retour:aller_retour||false,nb_passagers,date_depart,date_demande,calcule_le:new Date().toISOString()}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [15792, 5504],
      "id": "5a60895f-801b-4438-81a5-f3b850fb8802",
      "name": "Calculer devis"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGGAlQWuG2wb5kd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblZivQRw7GW1jawF",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom / Société": "={{ $node[\"Code\"].json.donnees.nom_societe }}",
            "Email": "={{ $node[\"Code\"].json.donnees.email }}",
            "Téléphone": "={{ $node[\"Code\"].json.donnees.telephone }}",
            "Ville de départ": "={{ $node[\"Code\"].json.donnees.ville_depart }}",
            "Ville d'arrivée": "={{ $node[\"Code\"].json.donnees.ville_arrivee }}",
            "Date trajet aller": "={{ new Date($node[\"Code\"].json.donnees.date_depart).toISOString() }}",
            "Nombre de passagers": "={{ $node[\"Code\"].json.donnees.nb_passagers }}",
            "Distance km": "={{ $node[\"Code\"].json.donnees.distance_km }}",
            "Type de trajet": "={{ $node[\"Code\"].json.donnees.aller_retour ? 'Aller/Retour' : 'Aller simple' }}",
            "Statut": "Qualifié",
            "Urgence": "={{ $node[\"Code\"].json.donnees.urgence }}",
            "Date de la demande": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom / Société",
              "displayName": "Nom / Société",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville de départ",
              "displayName": "Ville de départ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville d'arrivée",
              "displayName": "Ville d'arrivée",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date trajet aller",
              "displayName": "Date trajet aller",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nombre de passagers",
              "displayName": "Nombre de passagers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Distance km",
              "displayName": "Distance km",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type de trajet",
              "displayName": "Type de trajet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Aller simple",
                  "value": "Aller simple"
                },
                {
                  "name": "Aller/Retour",
                  "value": "Aller/Retour"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau lead",
                  "value": "Nouveau lead"
                },
                {
                  "name": "Incomplet",
                  "value": "Incomplet"
                },
                {
                  "name": "Qualifié",
                  "value": "Qualifié"
                },
                {
                  "name": "Devis envoyé",
                  "value": "Devis envoyé"
                },
                {
                  "name": "Relance 1",
                  "value": "Relance 1"
                },
                {
                  "name": "Relance 2",
                  "value": "Relance 2"
                },
                {
                  "name": "Accepté",
                  "value": "Accepté"
                },
                {
                  "name": "Refusé",
                  "value": "Refusé"
                },
                {
                  "name": "Cas complexe",
                  "value": "Cas complexe"
                },
                {
                  "name": "Clôturé",
                  "value": "Clôturé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Urgence",
              "displayName": "Urgence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "DD_PRIORITAIRE",
                  "value": "DD_PRIORITAIRE"
                },
                {
                  "name": "DD_URGENT",
                  "value": "DD_URGENT"
                },
                {
                  "name": "DD_NORMAL",
                  "value": "DD_NORMAL"
                },
                {
                  "name": "DD_3MOISETPLUS",
                  "value": "DD_3MOISETPLUS"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date de la demande",
              "displayName": "Date de la demande",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commentaire libre",
              "displayName": "Commentaire libre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [16032, 5504],
      "id": "e6373594-9cbc-4e20-af05-2fbdab2dc20e",
      "name": "CRM Créer Demande",
      "credentials": {
        "airtableTokenApi": {
          "id": "T2aOAM9JweHAV3Cf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGGAlQWuG2wb5kd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblv2r0FCkW1SUYtK",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre de relances": 0,
            "Référence devis": "={{ \"DEV-\" + Date.now() }}",
            "TVA": "={{ $node[\"Calculer devis\"].json.tva }}",
            "Prix TTC": "={{ $node[\"Calculer devis\"].json.prix_ttc }}",
            "Détail du calcul": "={{ JSON.stringify($node[\"Calculer devis\"].json.lignes) }}",
            "Statut devis": "Généré",
            "Date d'envoi": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Référence devis",
              "displayName": "Référence devis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TVA",
              "displayName": "TVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prix TTC",
              "displayName": "Prix TTC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Détail du calcul",
              "displayName": "Détail du calcul",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Statut devis",
              "displayName": "Statut devis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Généré",
                  "value": "Généré"
                },
                {
                  "name": "Envoyé",
                  "value": "Envoyé"
                },
                {
                  "name": "Accepté",
                  "value": "Accepté"
                },
                {
                  "name": "Refusé",
                  "value": "Refusé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date d'envoi",
              "displayName": "Date d'envoi",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nombre de relances",
              "displayName": "Nombre de relances",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [16272, 5504],
      "id": "33ead487-9040-4932-8108-cccbffa0ffb0",
      "name": "CRM Créer Devis",
      "credentials": {
        "airtableTokenApi": {
          "id": "T2aOAM9JweHAV3Cf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "neotravel.tech@gmail.com",
        "toEmail": "={{ $node[\"Code\"].json.donnees.email }}",
        "subject": "Votre devis NeoTravel",
        "html": "==<h2>Bonjour {{ $node[\"Code\"].json.donnees.nom_societe }},</h2>\n<p>Merci pour votre demande auprès de NeoTravel.</p>\n<table style=\"border-collapse:collapse;width:100%;max-width:500px\">\n  <tr style=\"background:#f5f5f5\">\n    <td style=\"padding:8px;border:1px solid #ddd\"><strong>Trajet</strong></td>\n    <td style=\"padding:8px;border:1px solid #ddd\">{{ $node[\"Code\"].json.donnees.ville_depart }} → {{ $node[\"Code\"].json.donnees.ville_arrivee }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\"><strong>Date</strong></td>\n    <td style=\"padding:8px;border:1px solid #ddd\">{{ $node[\"Code\"].json.donnees.date_depart }}</td>\n  </tr>\n  <tr style=\"background:#f5f5f5\">\n    <td style=\"padding:8px;border:1px solid #ddd\"><strong>Passagers</strong></td>\n    <td style=\"padding:8px;border:1px solid #ddd\">{{ $node[\"Code\"].json.donnees.nb_passagers }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\"><strong>Prix HT</strong></td>\n    <td style=\"padding:8px;border:1px solid #ddd\">{{ $node[\"Calculer devis\"].json.prix_ht }} €</td>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\"><strong>TVA (10%)</strong></td>\n    <td style=\"padding:8px;border:1px solid #ddd\">{{ $node[\"Calculer devis\"].json.tva }} €</td>\n  </tr>\n  <tr style=\"background:#2563eb;color:white\">\n    <td style=\"padding:10px;border:1px solid #ddd\"><strong>Prix TTC</strong></td>\n    <td style=\"padding:10px;border:1px solid #ddd\"><strong>{{ $node[\"Calculer devis\"].json.prix_ttc }} €</strong></td>\n  </tr>\n</table>\n<p style=\"margin-top:20px\">Ce devis est valable 30 jours. Pour confirmer, répondez à cet email.</p>\n<p>À bientôt,<br/><strong>L'équipe NeoTravel</strong></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [16512, 5504],
      "id": "319dc9cc-54b3-40a0-b0b4-f566df5e4de4",
      "name": "Email Devis",
      "webhookId": "fd401e95-cdd6-463a-9b7e-5d1a25dacb44",
      "credentials": {
        "smtp": {
          "id": "cFXNuRUuExsuVmW3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGGAlQWuG2wb5kd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblZivQRw7GW1jawF",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"CRM Créer Demande\"].json.id }}",
            "Statut": "Devis envoyé"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Devis envoyé",
                  "value": "Devis envoyé"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [16752, 5504],
      "id": "f5a762f7-200d-41a0-8d14-1f0a9659b60b",
      "name": "CRM Maj Statut Demande",
      "credentials": {
        "airtableTokenApi": {
          "id": "T2aOAM9JweHAV3Cf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Devis envoyé avec succès.', prix_ht: $node['Calculer devis'].json.prix_ht, prix_ttc: $node['Calculer devis'].json.prix_ttc, devise: 'EUR' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [16992, 5376],
      "id": "71745910-b964-4fb1-a2f0-11ececf9f962",
      "name": "Respond Succès"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst urgence = data.donnees?.urgence || \"DD_NORMAL\";\nconst delaiJours = (urgence === \"DD_PRIORITAIRE\" || urgence === \"DD_URGENT\") ? 2 : 3;\nconst dateRelance = new Date(Date.now() + delaiJours * 86400000).toISOString().split('T')[0];\nreturn { \n  delai_jours: delaiJours, \n  date_relance: dateRelance, \n  email: data.donnees?.email || \"\", \n  nom_societe: data.donnees?.nom_societe || \"\", \n  prix_ttc: $node[\"Calculer devis\"].json.prix_ttc \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [16992, 5616],
      "id": "ef2a9063-3492-45a9-8bb0-b958c696d232",
      "name": "Calcul Délai Relance"
    },
    {
      "parameters": {
        "amount": "={{ $json.delai_jours }}",
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [17232, 5616],
      "id": "b10f0919-94a5-4507-9b6d-95cd747a4b70",
      "name": "Attente Relance",
      "webhookId": "93b5fbb8-958f-4e3e-b57e-8cf694979bba"
    },
    {
      "parameters": {
        "fromEmail": "neotravel.tech@gmail.com",
        "toEmail": "={{ $node[\"Code\"].json.donnees.email }}",
        "subject": "Relance — Votre devis NeoTravel est en attente",
        "html": "==<h2>Bonjour {{ $json.nom_societe }},</h2>\n<p>Nous vous avons envoyé un devis de <strong>{{ $json.prix_ttc }} € TTC</strong> pour votre société <strong>{{ $json.nom_societe }}</strong>.</p>\n<p>Avez-vous des questions ? Nous restons à votre disposition pour finaliser votre réservation.</p>\n<p>Cordialement,<br/><strong>L'équipe NeoTravel</strong></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [17472, 5616],
      "id": "9255ee62-43a1-453b-856b-000e94edc435",
      "name": "Email Relance",
      "webhookId": "3ac8cf07-6e2b-46ed-b8ec-e1afb0ca98df",
      "credentials": {
        "smtp": {
          "id": "cFXNuRUuExsuVmW3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message, champs_manquants: $json.champs_manquants }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [15792, 5824],
      "id": "0a2b2337-79e6-400f-bbea-4918898a85ec",
      "name": "Respond Incomplet"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGGAlQWuG2wb5kd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblZivQRw7GW1jawF",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom / Société": "={{ $json.donnees ? $json.donnees.nom_societe : 'Inconnu' }}",
            "Email": "={{ $json.donnees ? $json.donnees.email : '' }}",
            "Téléphone": "={{ $json.donnees ? $json.donnees.telephone : '' }}",
            "Ville de départ": "={{ $json.donnees ? $json.donnees.ville_depart : '' }}",
            "Ville d'arrivée": "={{ $json.donnees ? $json.donnees.ville_arrivee : '' }}",
            "Nombre de passagers": "={{ $json.donnees ? $json.donnees.nb_passagers : 0 }}",
            "Distance km": "={{ $json.donnees ? $json.donnees.distance_km : 0 }}",
            "Statut": "Cas complexe",
            "Commentaire libre": "={{ ($json.raison || '') + ' — ' + ($json.resume || '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom / Société",
              "displayName": "Nom / Société",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville de départ",
              "displayName": "Ville de départ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville d'arrivée",
              "displayName": "Ville d'arrivée",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nombre de passagers",
              "displayName": "Nombre de passagers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Distance km",
              "displayName": "Distance km",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cas complexe",
                  "value": "Cas complexe"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commentaire libre",
              "displayName": "Commentaire libre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [15792, 6096],
      "id": "d1d6804f-e1df-4e45-a120-1c5a7b9e21d0",
      "name": "CRM Demande Complexe",
      "credentials": {
        "airtableTokenApi": {
          "id": "T2aOAM9JweHAV3Cf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "neotravel.tech@gmail.com",
        "toEmail": "neotravel.tech@gmail.com",
        "subject": "⚠️ Cas complexe — Intervention requise",
        "html": "==<h2>⚠️ Nouvelle demande nécessitant une intervention humaine</h2>\n<p><strong>Raison d'escalade :</strong> {{ $node[\"Code\"].json.raison }}</p>\n<hr/>\n<h3>Résumé du prospect</h3>\n<pre style=\"background:#f5f5f5;padding:10px;border-radius:4px\">{{ $node[\"Code\"].json.resume }}</pre>\n<p style=\"color:#e53e3e\"><strong>Action requise : recontacter le prospect sous 24h.</strong></p>\n<p>L'équipe NeoTravel</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [16032, 6096],
      "id": "72f472f9-e054-4abd-9027-14b1a0dbb140",
      "name": "Email Commercial",
      "webhookId": "ff5d29b3-1f9f-4e07-9143-55dedb3da040",
      "credentials": {
        "smtp": {
          "id": "cFXNuRUuExsuVmW3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Votre demande nécessite une étude personnalisée. Un conseiller NeoTravel vous recontacte sous 24h.', statut: 'cas_complexe' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [16272, 6096],
      "id": "ec2314f5-6be8-4f04-a0d2-3c4beb9ce05a",
      "name": "Respond Cas Complexe"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGGAlQWuG2wb5kd",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblZivQRw7GW1jawF",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom / Société": "={{ $json.donnees ? $json.donnees.nom_societe : 'Inconnu' }}",
            "Email": "={{ $json.donnees ? $json.donnees.email : '' }}",
            "Statut": "Incomplet",
            "Commentaire libre": "={{ 'Escalade abandon — ' + $json.raison + '. Ce qui a été collecté : ' + $json.resume }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom / Société",
              "displayName": "Nom / Société",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Incomplet",
                  "value": "Incomplet"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commentaire libre",
              "displayName": "Commentaire libre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [15792, 6336],
      "id": "a51a4d9d-c7ad-4e68-9c0e-574ebe4a1d8b",
      "name": "CRM Demande Incomplète Escalade",
      "credentials": {
        "airtableTokenApi": {
          "id": "T2aOAM9JweHAV3Cf",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "neotravel.tech@gmail.com",
        "toEmail": "ouachemleaticia@gmail.com",
        "subject": "⚠️ Prospect bloqué — Escalade incomplet",
        "html": "==<h2>⚠️ Prospect bloqué — Informations incomplètes</h2>\n<p>Un prospect n'a pas pu fournir toutes les informations nécessaires pour établir un devis.</p>\n<p><strong>Raison :</strong> {{ $node[\"Code\"].json.raison }}</p>\n<hr/>\n<h3>Ce qui a été collecté</h3>\n<pre style=\"background:#f5f5f5;padding:10px;border-radius:4px\">{{ $node[\"Code\"].json.resume }}</pre>\n<p style=\"color:#e53e3e\"><strong>Action requise : recontacter ce prospect sous 24h.</strong></p>\n<p>L'équipe NeoTravel</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [16032, 6336],
      "id": "fe12133b-141d-4a6e-94fc-834753a4431c",
      "name": "Email Escalade Incomplet",
      "webhookId": "648e0c81-d0cf-4d49-9ab2-a8b206e8879a",
      "credentials": {
        "smtp": {
          "id": "cFXNuRUuExsuVmW3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Merci pour votre demande. Un conseiller NeoTravel vous recontacte sous 24h pour finaliser votre devis.', statut: 'cas_incomplet_escalade' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [16272, 6336],
      "id": "54a4979b-441c-45a2-b504-f88ddc002555",
      "name": "Respond Incomplet Escalade"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [15088, 5712],
      "id": "7f32caec-a3a9-4022-b984-bc3af7af5e98",
      "name": "Vercel AI Gateway Chat Model",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "7YbnxG0FSLPzjggs",
          "name": "Vercel AI Gateway account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output;\ntry {\n  // Nettoie les backticks markdown\n  const cleaned = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Essaie de parser directement\n  try {\n    return JSON.parse(cleaned);\n  } catch(e) {\n    // Cherche un JSON embarqué dans le texte\n    const match = output.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      return JSON.parse(match[0]);\n    }\n  }\n  return { statut: \"incomplet\", message: output };\n} catch(e) {\n  return { statut: \"incomplet\", message: output };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [15488, 5184],
      "id": "27c7e012-b11a-4246-acca-fabbf58c70fb",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook NeoTravel Lead": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Router Statut": {
      "main": [
        [
          {
            "node": "Calculer devis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Incomplet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRM Demande Complexe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CRM Demande Incomplète Escalade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer devis": {
      "main": [
        [
          {
            "node": "CRM Créer Demande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Créer Demande": {
      "main": [
        [
          {
            "node": "CRM Créer Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Créer Devis": {
      "main": [
        [
          {
            "node": "Email Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Devis": {
      "main": [
        [
          {
            "node": "CRM Maj Statut Demande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Maj Statut Demande": {
      "main": [
        [
          {
            "node": "Respond Succès",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calcul Délai Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcul Délai Relance": {
      "main": [
        [
          {
            "node": "Attente Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attente Relance": {
      "main": [
        [
          {
            "node": "Email Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Demande Complexe": {
      "main": [
        [
          {
            "node": "Email Commercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Commercial": {
      "main": [
        [
          {
            "node": "Respond Cas Complexe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Demande Incomplète Escalade": {
      "main": [
        [
          {
            "node": "Email Escalade Incomplet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Escalade Incomplet": {
      "main": [
        [
          {
            "node": "Respond Incomplet Escalade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Router Statut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "34f21eac-0bab-41d1-bb8f-39c259217ba5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0706cde6282beec2a1e6bf78e848119b9e784c457b1bbf4594286dce4a8021fd"
  },
  "nodeGroups": [],
  "id": "83d9UtHJJsbEaAvf",
  "tags": [
    {
      "updatedAt": "2026-06-24T09:03:24.673Z",
      "createdAt": "2026-06-24T09:03:24.673Z",
      "id": "MJUCcQ7fEIN2hPXi",
      "name": "Production"
    },
    {
      "updatedAt": "2026-06-24T09:03:24.647Z",
      "createdAt": "2026-06-24T09:03:24.647Z",
      "id": "WRIZIcre6QfdeUUo",
      "name": "NeoTravel"
    }
  ]
}
